{{> collapseNav}}
<div class="col-10">
  <div class="mb-4 text-center">
    <h1 class="h3 font-weight-normal mb-3">Add Product</h1>
  </div>
  <form class="form-signup" action="/admin/products" enctype="multipart/form-data" method="POST" style="width: 100%;">
    <div class="form-row mb-3">
      <label class="form-label" for="name">Name</label>
      <input type="text" id="name" name="name" class="form-control" placeholder="Name" required autofocus>
    </div>
    <div class="form-row mb-3">
      <label class="form-label" for="price">Price</label>
      <input type="number" id="price" name="price" class="form-control" placeholder="Price" required>
    </div>
    <div class="form-row mb-3">
      <label class="form-label" for="categoryId">Category</label>
      <select class="form-select" aria-label="Default select example" id="categoryId" name="categoryId">
        {{#each categories}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-row mb-3">
      <label class="form-label" for="status">Choose Active</label>
      <select class="form-select" aria-label="Default select example" id="active" name="active">
        <option selected value="0">Not active</option>
        <option value="1">Active</option>
      </select>
    </div>
    <div class="form-row mb-3">
      <label class="form-label" for="image">Image</label>
      <input class="form-control" type="file" class="form-control-file" id="image" name="image">
    </div>
    <button class="btn btn-primary btn-block" type="submit">Add</button>
    <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
  </form>
</div>